html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(248, 248, 248, 1);
    font-family: 'TT Lakes', sans-serif;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(217, 255, 245, 1);
}

.container {
    height: 88px;
    padding: 24px 16px;
    min-width: 320px;
}

.header__button {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: rgba(255, 62, 121, 1);
}

.header__logo {
    display: block;
    height: 51px;
    width: 97px;
    margin-right: auto;
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.burger {
    margin-right: 16px;
    background-image: url("./images/burger.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.status {
    margin-left: 16px;
    background-image: url("./images/status.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.request {
    margin-left: 40px;
    background-image: url("./images/request.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.request::before {
    transform: translateX(-20px);
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-image: url('images/separator.svg');
    background-repeat: no-repeat;
}

.section-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.section-header__title {
    display: flex;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: center;
    justify-content: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section-header__title::before {
    content: url("images/section__image.svg");
    margin-right: 12px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.menu {
    margin-left: 16px;
    position: relative;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0;
    margin: 0;
}

.menu::after {
    background: linear-gradient(270deg, #f8f8f8 16.836%, transparent);
    content: "";
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    z-index: 100;
}

.menu::before {
    background: linear-gradient(to right, #f8f8f8 16.836%, transparent);
    content: "";
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    z-index: 100;
}

.menu__item {
    display: inline-block;
    max-height: 40px;
}

.menu__link {
    color: #7E7E82;
    padding: 6px 15px;
    min-height: 24px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-decoration: none;
    align-items: center;
}

.menu__link--active {
    border: 2px solid rgba(184, 255, 236, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.article {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    gap: 24px;
}
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.about__text {
    margin: 0;
    padding: 0;
    max-height: 110px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: start;
}

.image__item {
    width: 100%;
}

.about__hidden {
    display: none;
}

.contacts {
    display: none;
}

.section-header__menu {
    display: none;
    height: 40px;
}

.header-menu__image {
    width: 20px;
    height: 20px;
}

.header-menu__link {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(27, 28, 33, 1);
    font-weight: 500;
    height: 40px;
    align-items: center;
}

.expander__button {
    width: 132px;
    height: 24px;
    text-align: end;
    background-image: url("./images/expand.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (min-width: 768px) {

    .container {
        padding: 24px;
    }

    .header__logo {
        position: relative;
    }

    .burger {
        margin-right: 43px;

    }

    .burger::before {
        transform: translateX(60px);
        content: "";
        display: block;
        width: 2px;
        height: 32px;
        background-image: url('images/separator.svg');
        background-repeat: no-repeat;

    }

    .header__contacts {
        display: flex;
        gap: 16px;
    }

    .section-header__title::before {
        margin-right: 20px;
    }

    .menu {
        margin-left: 24px;
    }

    .article {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        margin: 0 24px;
        gap: 48px;
    }


    .about {
        gap: 10px;
        width: 50%;
        height: 100%;
    }


    .article__image {
        width: 50%;
    }
    .content{
        gap: 32px;
    }

    .profile {
        background-image: url("/images/profile.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .chat {
        background-image: url("/images/chat.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .phone {
        background-image: url("/images/phone.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .about__text {
        max-height: 160px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

}

@media (min-width: 1120px) {
    .header__container {
        display: none;
    }

    .container {
        padding: 42px 32px 8px 0;

    }

    .section {
        display: flex;
        height: 180px;
        flex-direction: column;
    }

    .section-header__menu {
        display: flex;
        margin-left: auto;
        gap: 32px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1110px;
        margin: 0 auto;
        gap: 7px;
    }

    .menu {
        margin-left: 24px;
    }

    .menu__list {
        flex-wrap: wrap;
    }

    .about__text {
        max-height: 160px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .section-header {
        transform: translateX(-5px);
    }

    .article {
        max-height: 307px;

    }

    .section-header__title::before {
        content: url(images/highlight.svg);
        margin-right: 32px;
    }

    .submit-button::after {
        content: "";
        background-color: rgba(255, 62, 121, 1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url("images/request.svg");
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 8px;
    }

    .repair-status::after {
        margin-left: 9px;
        content: "";
        background-color: rgba(255, 62, 121, 1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url("images/status.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .menu::before {
        display: none;
    }
}